@import './variables.scss';
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@400;700&display=swap');

*, *::before, *::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.text-default {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 16px;
    color: $primary-text;

    &.title {
        font-size: 18px;
    }

    &.subtitle {
        font-size: 14px;
        color: $secondary-text;
    }

    &.main-title {
        font-size: 24px;
        text-align: center;
    }
}

.colortext {
    color: #D74444;
}

.header-wrapper {
    height: 113px;
    padding: 0 134px 0 127px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-bottom: 18px;
    position: sticky;
    top: 0;
    z-index: 2;
    background-color: white;

    .logo {
        margin-right: 34px;
        cursor: pointer;
    }

    .text-default {
        font-size: 14px;
        margin-right: 30px;
        cursor: pointer;
        white-space: nowrap;

        &.contact {
            margin-right: 40px;
        }
    }

    button {
        border: none;
        background-color: transparent;
        color: $primary-text;
        cursor: pointer;
    }

    .search-wrapper {
        position: relative;

        img {
            position: absolute;
            top: 13px;
            left: 15px;
            cursor: pointer;
        }

        .text-default {
            font-size: 14px;
        }
    }

    .search {
        width: 280px;
        height: 40px;
        border: none;
        background-color: #F9F9F9;
        padding-left: 49px;
    }

    .contacts {
        display: flex;
        flex-direction: row;
        margin-left: auto;

        img {
            margin-right: 10px;
        }

        .phone {
            margin-right: 30px;
        }

        .delivery {
            margin-right: 35px;
        }
    }

    .icons {
        display: flex;
        gap: 27px;

        img {
            cursor: pointer;
        }
    }
}

.main-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-left: 228px;
    position: relative;

    .main-inner {
        display: flex;
        flex-direction: column;
        width: 421px;
        position: relative;

        .text-default {
            &.subtitle {
                font-size: 12px;
                margin-bottom: 16px;
            }

            &.title {
                font-size: 24px;
                margin-bottom: 15px;
            }

            &.text {
                font-size: 14px;
            }
        }

        .line {
            width: 208px;
            height: 1px;
            background-color: $about-accents;
            position: absolute;
            left: -228px;
            top: 7px;
        }
    }

    .blue-rectangle {
        width: 422px;
        height: 500px;
        background-color: $about-accents;
        margin-left: auto;
    }

    img {
        position: absolute;
        z-index: 1;
        top: 89px;
        right: 70px;
    }
}

.benefits-wrapper {
    height: 70vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 95px;

    .benefits-inner {
        display: flex;
        flex-direction: column;
        gap: 80px;

        .benefits-inner-articles {
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            gap: 64px;

            .benefits-inner-article {
                display: flex;
                flex-direction: row;
                justify-content: center;
                align-items: center;
                width: 538px;
                gap: 30px;

                .benefits-inner-text {
                    display: flex;
                    flex-direction: column;
                    gap: 10px;
                }
            }
        }
    }
}


.advantages-wrapper {
    height: 90vh;
    background-color: $about-accents;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 65px;

    .advantages-inner {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        gap: 15px;
        width: 540px;

        .line {
            width: 50px;
            height: 1px;
            background-color: $main-bg;
        }
    }
}

.privileges-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 70px 130px 0 140px;

    .privileges-inner {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        .privileges-inner-articles {
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            column-gap: 40px;
            margin-bottom: 30px;

            .privileges-inner-article {
                width: 545px;
                background-color: $about-bg;
                padding: 25px;
                display: flex;
                flex-direction: column;
                gap: 10px;
                position: relative;

                .circle {
                    width: 46px;
                    height: 46px;
                    background-color: white;
                    border-radius: 100%;
                    position: absolute;
                    top: -25px;
                    left: -20px;
                    padding: 13px;
                }

                &.top {
                    height: 141px;
                }

                &.bottom {
                    height: 161px;
                }
            }
        }
    }

    .main-title {
        margin-top: 100px;
        margin-bottom: 75px;
    }

    .saving-wrapper {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        gap: 80px;
        margin-bottom: 74px;

        .saving-inner {
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            gap: 20px;

            .green-checkbox {
                width: 20px;
                height: 20px;
                background-color:#48CC65;
                border-radius: 100%;
                
                &::before {
                    content: '';
                    position: absolute;
                    width: 6px;
                    height: 10px;
                    border-top: 3px solid #fff;
                    border-left: 3px solid #fff;
                    transform: rotate(-135deg);
                    margin-top: 4px;
                    margin-left: 7px;
                }
            }
            
            .text-default {
                width: 280px;
                font-size: 14px;

                .bold {
                    font-weight: 500;
                }
            }
        }
    }
}

.footer-wrapper {
    box-shadow: 0px -4px 10px rgba(0, 0, 0, 0.03);
    margin-bottom: 34px;
    margin-top: 132px;

        .navigation {
            padding: 54px 120px 0 140px;
            margin-bottom: 10px;
            
            &.text-default {
                text-transform: uppercase;
                font-size: 14px;
                font-weight: 500;
                color: #000;
            }
        }

    .footer-container {
        display: flex;
        flex-direction: row;
        position: relative;
        padding: 0 120px 0 140px;
        margin-bottom: 25px;

        .footer-wrapper-left {
            width: 384px;
            height: 75px;
            display: flex;
            flex-direction: column;
            flex-wrap: wrap;

            .text-default {
                font-size: 14px;
                margin-bottom: 7px;
                margin-right: 50px;
                cursor: pointer;
            }
        }

        .footer-wrapper-right {
            width: 171px;
            height: 125px;
            display: flex;
            flex-direction: column;
            position: absolute;
            top: -30px;
            right: 120px;

            .text-default {
                &.subtitle {
                    font-size: 14px;
                    text-align: end;
                    color:#414141;
                }
            }

            button {
                background-color: transparent;
                border: none;
                cursor: pointer;
            }

            img {
                width: 30px;
                height: 30px;
                margin-left: 140px;
                margin-bottom: 30px;
            }
        }
    }

    .footer-wrapper-bottom {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        gap: 30px;
        padding: 0 120px 0 140px;

        .text-default {
            font-size: 14px;
            cursor: pointer;

            &.inst {
                text-transform: uppercase;
            }
        }

        .footer-contacts {
            display: flex;
            flex-direction: row;
            margin-left: auto;

            img, i {
                margin-right: 10px;
            }

            .phone, .inst {
                margin-right: 30px;
            }
        }
    }
}

@media only screen and (max-width:768px) {
    .header-wrapper {
        height: 100px;
        padding: 0 25px;
    
        .logo {
            width: 100px;
            height: 22px;
        }

        .hide {
            display: none;
        }
    }

    .main-wrapper {
        margin-left: 100px;
    
        .main-inner {
            .line {
                width: 100px;
                left: -100px;
            }

            .text-default {
                &.title {
                    font-size: 20px;
                    margin-bottom: 15px;
                }
    
                &.text {
                    font-size: 14px;
                }
            }
        }
    
        .blue-rectangle {
            height: 400px;
        }
    
        img {
            top: 100px;
            right: 0px;
            width: 350px;
        }
    }

    .benefits-wrapper {
        margin-top: 10px;
        gap: 60px;
    
        .benefits-inner {
            gap: 30px;
    
            .benefits-inner-articles {
                gap: 40px;
    
                .benefits-inner-article {
                    width: 350px;
                    gap: 15px;

                    img {
                        width: 30px;
                        height: 30px;
                    }
                }
            }
        }
    }

    .advantages-wrapper {
        gap: 40px;
        margin-top: 15px;
        height: 100vh;
    }
    
    .privileges-wrapper {
        .privileges-inner {
            .privileges-inner-articles {
                column-gap: 40px;
                margin-bottom: 50px;
    
                .privileges-inner-article {
                    width: 300px;
        
                    .circle {
                        width: 46px;
                        height: 46px;
                        background-color: white;
                        border-radius: 100%;
                        position: absolute;
                        top: -25px;
                        left: -20px;
                        padding: 13px;
                    }
    
                    &.top {
                        height: 200px;
                    }
    
                    &.bottom {
                        height: 200px;
                    }
                }
            }
        }
    
        .main-title {
            margin-top: 60px;
            margin-bottom: 50px;
        }
    
        .saving-wrapper {
            gap: 30px;
            margin-bottom: 50px;
    
            .saving-inner {
                gap: 10px;
                
                .text-default {
                    width: 190px;
                }
            }
        }
    }

    .footer-wrapper {
        .navigation {
            padding: 30px 22px 0 24px;
        }

        .footer-container {
            padding: 0 24px;

            .footer-wrapper-right {
                top: -30px;
                right: 25px;
            }
        }

        .footer-wrapper-bottom {
            padding: 0 24px;
        }
    }
}

@media only screen and (max-width:320px) {
    .header-wrapper {
        padding: 0 15px;
        flex-direction: column;
    
        .icons {
            margin-left: 155px;
            order: 2;
            position: absolute;
            top: 10px;
        }

        .logo {
            margin-right: 130px;
            margin-bottom: 15px;
        }

        .search-wrapper {
            img {
                left: 45px;
            }
        }

        .search {
            margin-left: 30px;
        }
    }

    .main-wrapper {
        margin-left: 15px;
        height: 80vh;
    
        .main-inner {
            position: absolute;
            width: 290px;
            top: 250px;

            .line {
                display: none;
            }
        }
    
        .blue-rectangle {
            height: 207px;
            width: 152px;
            position: absolute;
            top: 20px;
            right: 0;
        }
    
        img {
            top: 50px;
            left: 10px;
            width: 216px;
        }
    }

    .benefits-wrapper {
        gap: 40px;
        height: 80vh;
    
        .benefits-inner {
            .benefits-inner-articles {
                flex-direction: column;

                .benefits-inner-article {
                    width: 290px;
                    gap: 15px;
                }
            }
        }
    }

    .advantages-wrapper {
        .advantages-inner {
            width: 280px;
        }
    }

    .privileges-wrapper {
        .privileges-inner {
            .privileges-inner-articles {
                flex-direction: column;
                gap: 40px;
            
    
                .privileges-inner-article {
                    width: 280px;
    
                    &.top {
                        height: 200px;
                    }
    
                    &.bottom {
                        height: 230px;
                    }
                }
            }
        }
    
        .main-title {
            margin-top: 10px;
            margin-bottom: 50px;
            font-size: 18px;
            width: 221px;
        }
    
        .saving-wrapper {
            flex-direction: column;
            gap: 30px;
    
            .saving-inner {
                .text-default {
                    width: 250px;
                    font-size: 12px;
                }
            }
        }
    }

    .footer-wrapper {
        position: relative;

        .navigation {
            padding: 30px 22px 0 24px;
        }

    .footer-container {
        padding: 0 24px;

        .footer-wrapper-left {
            flex-direction: column;
            flex-wrap: nowrap;

            .text-default {
                font-size: 14px;
                margin-bottom: 7px;
                margin-right: 50px;
                cursor: pointer;
            }
        }

        .footer-wrapper-right {
            display: none;
        }
    }

    .footer-wrapper-bottom {
        padding: 0 0 0 24px;
        flex-direction: column;
        gap: 5px;
        position: absolute;
        top: 57px;
        left: 160px;

        .footer-contacts {
            display: flex;
            flex-direction: column;

            img, i {
                margin-top: 10px;
                margin-left: 65px;
                width: 10px;
                height: 10px;
                
            }

            img {
                margin-top: 88px;
            }

            .phone, .inst {
                margin-top: 10px;
                text-align: end;
            }

            .text-default {
                font-size: 10px;
            }

            .email {
                display: none;
            }
            
        }
    }
}
}