@import './variables.scss';
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@400;700&display=swap');

*, *::before, *::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.text-default {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 16px;
    color: $primary-text;
}

.colortext {
    color: #D74444;
}

.header-wrapper {
    height: 38px;
    background-color: #313131;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 30px;
    padding: 0 120px 0 140px;
    margin-bottom: 20px;
    position: sticky;
    top: 0;
    z-index: 1;

    .text-default {
        font-size: 16px;
        color: #fff;
        cursor: pointer;
    }

    button {
        border: none;
        background-color: transparent;
        color: white;
        cursor: pointer;
    }

    .contacts {
        display: flex;
        flex-direction: row;
        margin-left: auto;

        img {
            margin-right: 11px;
        }

        .phone {
            margin-right: 30px;
        }
    }
}

.main-wrapper {
    padding: 0 120px 0 140px;

    img {
        max-width: 100%;
        height: auto;
    }

    .main-logo-menu {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 33px;
        margin-bottom: 20px;
        overflow: hidden;

        button {
            background-color: transparent;
            border: none;
            cursor: pointer;
        }

        .search-wrapper {
            position: relative;

            img {
                position: absolute;
                top: 18px;
                left: 15px;
                cursor: pointer;
            }

            .text-default {
                font-size: 14px;
            }
        }

        .search {
            width: 839px;
            height: 50px;
            border: 1px solid #E5E5E5;
            padding-left: 49px;
        }

        .icons {
            display: flex;
            gap: 23px;

            img {
                cursor: pointer;
            }
        }
    }

    .main-menu {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        height: 70px;
        box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.07);
        margin-bottom: 30px;

        .menu-wrapper {
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            gap: 10px;
            cursor: pointer;
            width: 142px;
            height: 70px;

            &.bedroom {
                width: 150px;
            }

            &.livingroom {
                width: 160px;
            }

            &.closet {
                width: 150px;
            }

            &.office {
                width: 190px;
            }

            &.dots {
                width: 50px;
            }

            &:hover {
                background-color: $main-bg;
            }

            &:hover .text-default {
                color: #FFF;
            }

            &.dots {
                .dots-wrapper {
                    display: flex;
                    flex-direction: column;
                    padding-top: 10px;
    
                    .dropdown {
                        .dropbtn {
                            &.text-default {
                                .dot {
                                    width: 3px;
                                    height: 2px;
                                    background-color: #000;
                                    border-radius: 100%;
                                    margin-bottom: 5px;
                                }
                            }
                        }
    
                        .dropdown-content {
                            width: 151px;
                            height: 189px;
                            position: absolute;
                            left: -120px;
                        }
                    }
                }

                &:hover .dots-wrapper .dropdown .dropbtn .dot {
                    background-color: #FFF;
                }
            }

            &:hover .dropdown .dropdown-content {
                display: block;
            }

            &:hover path {
                fill: white;
            }

            .dropdown {
                position: relative;
                display: inline-block;

                button {
                    background-color: transparent;
                    border: none;
                }
            
                .dropdown-content {
                    display: none;
                    position: absolute;
                    background-color: #FFF;
                    width: 189px;
                    height: 432px;
                    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.07);;
                    z-index: 1;
                    padding: 25px;
                    top: 40px;
                    left: -80px;
                }
                
                .dropdown-content a {
                    font-family: 'Roboto', sans-serif;
                    font-weight: 400;
                    font-size: 14px;
                    color: $primary-text;
                    text-decoration: none;
                    display: block;
                    margin-bottom: 25px;
                }
                
                .dropdown-content a:hover {
                    color: $main-bg;
                }
                
                &:hover .dropdown-content {
                    display: block;
                }
                
                .dropdown:hover .dropbtn {
                    background-color: #FFF;
                }
            }
        }
    }

    .main-banner {
        position: relative;
        margin-bottom: 30px;
        box-shadow: 0px 5px 11px 2px rgba(0, 0, 0, 0.09);

        .text-wrapper {
            display: flex;
            flex-direction: column;
            position: absolute;
            top: 100px;
            left: 120px;

            h1 {
                font-family: 'Playfair Display', sans-serif;
                font-size: 50px;
                font-weight: 700;
                color: $title-text;
                text-transform: uppercase;
                margin-bottom: 15px;
            }

            h2 {
                font-family: 'Roboto Condensed', sans-serif;
                font-size: 16px;
                font-weight: 400;
                color: $subtitle-text;
                margin-bottom: 20px;
            }

            button {
                width: 163px;
                height: 45px;
                background-color: #FFF;
                border: none;
                font-family: 'Roboto Condensed', sans-serif;
                font-size: 12px;
                font-weight: 700;
                text-transform: uppercase;
                color: $primary-text;
                box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.07);
                cursor: pointer;
            }
        }

        .arrow {
            width: 30px;
            height: 30px;
            position: absolute;
            cursor: pointer;

            &.left {
                top: 210px;
                left: 25px;
                background: rgba(157, 157, 157, 0.28);

                &::before {
                    content: '';
                    position: absolute;
                    width: 8px;
                    height: 8px;
                    border-top: 2px solid #fff;
                    border-left: 2px solid #fff;
                    transform: rotate(-45deg);
                    margin-top: 11px;
                    margin-left: 12px;
                }
            }

            &.right {
                top: 210px;
                right: 25px;
                background: #fff;

                &::before {
                    content: '';
                    position: absolute;
                    width: 8px;
                    height: 8px;
                    border-top: 2px solid rgba(157, 157, 157, 0.28);;
                    border-left: 2px solid rgba(157, 157, 157, 0.28);;
                    transform: rotate(135deg);
                    margin-top: 11px;
                    margin-left: 10px;
                }
            }
        }
    }
}

.bestsellers {
    padding: 0 120px 0 140px;

    .catalog-products {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 42px;
    
        .catalog-inner {
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            gap: 30px;

            button {
                border: none;
                background: transparent;
                cursor: pointer;
            }
    
            .catalog-inner-product {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                width: 263px;
                padding: 20px;
                background-color: #FFF;
    
                .wishlist-icon {
                    width: 17.5px;
                    height: 15px;
                    margin-left: auto;
                    margin-bottom: 38px;
                    cursor: pointer;
                }
    
                .text-default {
                    align-self: flex-start;
    
                    &.title {
                        margin-top: 54px;
                        margin-bottom: 6px;
                        font-weight: 500;
                        cursor: pointer;
                    }
    
                    &.subtitle {
                        font-size: 11px;
                        color: $primary-text;
                        margin-bottom: 9px;
                        cursor: pointer;
                    }
    
                    &.price {
                        font-weight: 500;
                        margin-bottom: 32px;
    
                        span {
                            text-decoration: line-through;
                            color: #CCCCCC;
                            font-size: 12px;
                            font-weight: 500;
                            margin-left: 6px;
                        }
                    }
                }
    
                .sale-wrapper {
                    display: flex;
                    flex-direction: row;
                    justify-content: flex-start;
                    align-items: center;
                    gap: 160px;
    
                    .sale-inner {
                        display: flex;
                        flex-direction: row;
    
                        .sale-icon {
                            width: 17.5px;
                            height: 15px;
                            margin-bottom: 38px;
                            margin-right: 7px;
                        }
        
                        .text-default {
                            font-size: 12px;
                            color: #000;
                            margin-bottom: 38px;
                        }
                    }
                }
    
                .info {
                    display: none;
                }
    
                &:hover {
                    box-shadow: 0px 1px 9px rgba(0, 0, 0, 0.11);
                    transition:all 200ms ease-in-out 0s;
                    transform: scale(1.2);
                    cursor: pointer;
                }
    
                &:hover .info {
                    display: block;
                }
            }
        }
    }    
}

.footer-wrapper {
    box-shadow: 0px -4px 10px rgba(0, 0, 0, 0.03);
    margin-bottom: 34px;
    margin-top: 10px;

        .navigation {
            padding: 54px 120px 0 140px;
            margin-bottom: 10px;
            
            &.text-default {
                text-transform: uppercase;
                font-size: 14px;
                font-weight: 500;
                color: #000;
            }
        }

    .footer-container {
        display: flex;
        flex-direction: row;
        position: relative;
        padding: 0 120px 0 140px;
        margin-bottom: 25px;

        .footer-wrapper-left {
            width: 384px;
            height: 75px;
            display: flex;
            flex-direction: column;
            flex-wrap: wrap;

            .text-default {
                font-size: 14px;
                margin-bottom: 7px;
                margin-right: 50px;
                cursor: pointer;
            }
        }

        .footer-wrapper-right {
            width: 171px;
            height: 125px;
            display: flex;
            flex-direction: column;
            position: absolute;
            top: -30px;
            right: 120px;

            .text-default {
                &.title {
                    font-size: 42px;
                    font-weight: 900;
                    color: #000;
                    text-transform: uppercase;
                    margin-left: 113px;
                    margin-bottom: 20px;
                    cursor: pointer;
                }

                &.subtitle {
                    font-size: 14px;
                    text-align: end;
                    cursor: pointer;
                }
            }

            button {
                background-color: transparent;
                border: none;
                cursor: pointer;
            }
        }
    }

    .footer-wrapper-bottom {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        gap: 30px;
        padding: 0 120px 0 140px;

        .text-default {
            font-size: 14px;
            cursor: pointer;

            &.inst {
                text-transform: uppercase;
            }
        }

        .footer-contacts {
            display: flex;
            flex-direction: row;
            margin-left: auto;

            img, i {
                margin-right: 10px;
            }

            .phone, .inst {
                margin-right: 30px;
            }
        }
    }
}

@media only screen and (max-width:768px) {
    .header-wrapper {
        display: none;
    }

    .main-wrapper {
        padding: 40px 25px;
    
        img {
            max-width: 100%;
            height: auto;
        }
    
        .main-logo-menu {
            display: flex;
            flex-direction: row;
            align-items: center;
            gap: 25px;
            margin-bottom: 20px;
            justify-content: space-around;
    
            .search-wrapper {
                img {
                    top: 13px;
                }
            }
    
            .search {
                width: 243px;
                height: 40px;
                background-color: $cart-bg;
                border: none;
            }
        }
    
        .main-menu {
            .menu-wrapper {
                .text-default {
                    font-size: 14px;
                }
    
                &.promotion {
                    display: none;
                }

                &.childrenroom {
                    display: none;
                }
            }
        }
    
        .main-banner {    
            .text-wrapper {
                top: 30px;
                left: 80px;
    
                h1 {
                    font-size: 36px;
                }
            }
    
            .arrow {
                width: 15px;
                height: 15px;
    
                &.left {
                    top: 150px;
                    left: 15px;
    
                    &::before {
                        width: 6px;
                        height: 6px;
                        border-top: 1px solid #fff;
                        border-left: 1px solid #fff;
                        margin-top: 5px;
                        margin-left: 6px;
                    }
                }
    
                &.right {
                    top: 150px;
                    right: 15px;

                    &::before {
                        width: 6px;
                        height: 6px;
                        border-top: 1px solid rgba(157, 157, 157, 0.28);;
                        border-left: 1px solid rgba(157, 157, 157, 0.28);;
                        margin-top: 5px;
                        margin-left: 4px;
                    }
                }
            }
        }
    }

    .bestsellers {
        padding: 0 25px;
    
        .catalog-products {
            gap: 30px;
        
            .catalog-inner {
                gap: 15px;
        
                .catalog-inner-product {
                    width: 150px;
                    padding: 5px;
    
                    img {
                        width: 150px;
                        height: 120px;
                    }
        
                    .text-default {
                        &.title {
                            font-size: 14px;
                        }
                    }

                    .sale-wrapper {
                        gap: 60px;
                    }
                }
            }
        }    
    }

    .footer-wrapper {
            .navigation {
                padding: 30px 22px 0 24px;
            }
    
        .footer-container {
            padding: 0 24px;
    
            .footer-wrapper-right {
                top: -30px;
                right: 25px;
            }
        }
    
        .footer-wrapper-bottom {
            padding: 0 24px;
        }
    }
}

@media only screen and (max-width:320px) {
    .main-wrapper {
        padding: 28px 15px 20px 15px;

        .main-logo-menu {
            flex-direction: column;
            align-items: flex-start;
            gap: 16px;
    
            .search {
                width: 260px;
            }
    
            .icons {
                margin-left: 155px;
                order: 2;
                position: absolute;
                top: 30px;
            }
        }
    
        .main-menu {
            height: 50px;

            .menu-wrapper {
                flex-direction: column;
                height: 50px;

                .text-default {
                    font-size: 9px;
                }

                &.kitchen {
                    padding-top: 5px;
                }
    
                &.office {
                    display: none;
                }

                &.dots {
                    .dots-wrapper {
                        padding-top: 5px;
                    }
                }

                .dropdown {
                    .dropdown-content {
                        top: 20px;
                        left: -30px;
                    }
                }
            }
        }

        .main-banner { 
            margin-bottom: 0;   
            .text-wrapper {
                top: 15px;
                left: 20px;
    
                h1 {
                    display: none;
                }

                h2 {
                    width: 100px;
                }
            }

            button {
                display: none;
            }
    
            .arrow {
                display: none;
            }
        }
    }

    .bestsellers {
        padding: 0 15px;
        height: 930px;
    
        .catalog-products {
            gap: 30px;
        
            .catalog-inner {
                flex-wrap: wrap;
                gap: 5px;
        
                .catalog-inner-product {
                    width: 120px;
                    padding: 5px;
    
                    img {
                        width: 94px;
                        height: 70px;
                    }
        
                    .text-default {
                        &.title {
                            font-size: 12px;
                        }
                    }

                    &.hide {
                        display: none;
                    }
                }
            }
        }    
    }

    .footer-wrapper {
        position: relative;

        .navigation {
            padding: 30px 22px 0 24px;
        }

    .footer-container {
        padding: 0 24px;

        .footer-wrapper-left {
            flex-direction: column;
            flex-wrap: nowrap;

            .text-default {
                font-size: 14px;
                margin-bottom: 7px;
                margin-right: 50px;
                cursor: pointer;
            }
        }

        .footer-wrapper-right {
            display: none;
        }
    }

    .footer-wrapper-bottom {
        padding: 0 0 0 24px;
        flex-direction: column;
        gap: 5px;
        position: absolute;
        top: 57px;
        left: 160px;

        .footer-contacts {
            display: flex;
            flex-direction: column;

            img, i {
                margin-top: 10px;
                margin-left: 65px;
                width: 10px;
                height: 10px;
                
            }

            img {
                margin-top: 88px;
            }

            .phone, .inst {
                margin-top: 10px;
                text-align: end;
            }

            .text-default {
                font-size: 10px;
            }

            .email {
                display: none;
            }
            
        }
    }
}
}



