@import './variables.scss';
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@400;700&display=swap');

*, *::before, *::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.text-default {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 16px;
    color: $primary-text;

    &.subtitle {
        font-size: 12px;
        color: $tertiary-text;
    }

    &.title {
        font-size: 14px;
    }

    &.subsubtitle {
        color: #686868;
        font-size: 12px;
    }

    &.text {
        font-size: 12px;
        color: $tertiary-text;
    }
}

::-webkit-input-placeholder { 
    color: #686868; 
}

.colortext {
    color: #D74444;
}

.header-wrapper {
    height: 113px;
    padding: 0 130px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-bottom: 18px;
    position: sticky;
    top: 0;
    z-index: 5;
    background-color: white;

    .logo {
        margin-right: 34px;
        cursor: pointer;
    }

    .text-default {
        font-size: 14px;
        margin-right: 30px;
        cursor: pointer;
        white-space: nowrap;

        &.contact {
            margin-right: 40px;
        }
    }

    .search-wrapper {
        position: relative;

        img {
            position: absolute;
            top: 13px;
            left: 15px;
            cursor: pointer;
        }

        .text-default {
            font-size: 14px;
        }
    }

    .search {
        width: 280px;
        height: 40px;
        border: none;
        background-color: #F9F9F9;
        padding-left: 49px;
    }

    .contacts {
        display: flex;
        flex-direction: row;
        margin-left: auto;

        img {
            margin-right: 10px;
        }

        .phone {
            margin-right: 30px;
        }

        .delivery {
            margin-right: 35px;
        }
    }

    .icons {
        display: flex;
        gap: 27px;

        img {
            cursor: pointer;
        }
    }
}

.main-wrapper {
    padding: 0 130px;

    .main-menu {
        display: flex;
        flex-direction: row;
        justify-content: space-b;
        align-items: center;
        height: 70px;
        box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.07);
        margin-bottom: 30px;

        .menu-wrapper {
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            gap: 10px;
            cursor: pointer;
            width: 142px;
            height: 70px;

            &.bedroom {
                width: 150px;
            }

            &.livingroom {
                width: 165px;
            }

            &.closet {
                width: 155px;
            }

            &.office {
                width: 195px;
            }

            &.dots {
                width: 50px;
            }

            &:hover {
                background-color: $main-bg;
            }

            &:hover .text-default {
                color: #FFF;
            }

            &:hover .dots-wrapper .dot {
                background-color: #FFF;
            }

            .dots-wrapper {
                display: flex;
                flex-direction: column;
                gap: 5px;

                .dot {
                    width: 3px;
                    height: 2px;
                    background-color: #000;
                    border-radius: 50%;
                }
            }
            
        }
    }

    .slash {
        margin: 0 10px;
    }
}

.bonus-text {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 12px;
    color: $primary-text;

    &.blue {
        color: $main-bg;
        cursor: pointer;

        &.see {
            margin-top: 20px;
            margin-left: 490px;
        }
    }

    &.amount {
        font-weight: 700;
    }
}

.bonus {
    padding: 0 130px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 625px;
    margin: 40px 0 30px 0;

    .bonus-info {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        gap: 20px;
    }
}

.bonus-wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background-color: $catalog-bg;
    margin: 0 130px 42px 130px;
    gap: 60px;
    height: 57px;

    .bonus-inner {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        gap: 15px;
    }
}

.information {
    padding: 0 130px;
    display: flex;
    flex-direction: row;
    gap: 98px;

    .form {
        width: 457px;
        height: 454px;

        .form-items {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            gap: 10px;

            .basic-input {
                width: 207px;
                height: 38px;
                background-color: $contact-bg;
                border: none;
                box-shadow: inset 1px 1px 5px rgba(0, 0, 0, 0.07);
                margin-top: 5px;
                margin-bottom: 10px;
                padding-left: 12px;

                &.e-mail {
                    width: 240px;
                }

                &.street {
                    width: 457px;
                }

                &.house {
                    width: 117px;
                }

                &.apartment {
                    width: 80px;
                }
            }
        }
        
        button {
            width: 101px;
            height: 40px;
            background-color: $main-bg;
            color: white;
            font-family: 'Roboto', sans-serif;
            font-weight: 400;
            font-size: 13px;
            border: none;
            cursor: pointer;
            margin-left: 356px;
            margin-top: 20px;
        }
    }

    .text-default {
        &.data {
            margin-bottom: 30px;
        }
    }

    .order {
        .table {
            width: 560px;
            display: flex;
            flex-direction: row;
            margin-top: 40px;

            .table-cell {
                border: 1px solid #F3F3F3;
                padding: 11px 15px;
                width: 327px;
                height: 40px;
                align-items: center;

                img {
                    width: 53px;
                    height: 40px;
                }

                &.product {
                    height: 92px;
                    padding-top: 25px;
                    display: flex;
                    flex-direction: row;
                    justify-content: start;
                    gap: 15px;

                    .text-default {
                        font-size: 12px;
                    }
                }

                &.heading {
                    color: #686868;
                    font-family: 'Roboto', sans-serif;
                    font-weight: 400;
                    font-size: 12px;

                    &.price {
                        width: 66px;
                    }

                    &.data{
                        width: 88px;
                        padding: 11px 30px;

                        &.status {
                            padding: 11px 25px;
                        }
                    }
                }
                
                &.product-price {
                    width: 66px;
                    height: 92px;
                    padding: 36px 16px;
                }

                &.product-data {
                    width: 88px;
                    height: 92px;
                    padding: 36px 13px;
                    text-align: center;
                }
            }
        }
    }
}

.footer-wrapper {
    box-shadow: 0px -4px 10px rgba(0, 0, 0, 0.03);
    margin-bottom: 34px;
    margin-top: 132px;

        .navigation {
            padding: 54px 120px 0 140px;
            margin-bottom: 10px;
            
            &.text-default {
                text-transform: uppercase;
                font-size: 14px;
                font-weight: 500;
                color: #000;
            }
        }

    .footer-container {
        display: flex;
        flex-direction: row;
        position: relative;
        padding: 0 120px 0 140px;
        margin-bottom: 25px;

        .footer-wrapper-left {
            width: 384px;
            height: 75px;
            display: flex;
            flex-direction: column;
            flex-wrap: wrap;

            .text-default {
                font-size: 14px;
                margin-bottom: 7px;
                margin-right: 50px;
                cursor: pointer;
            }
        }

        .footer-wrapper-right {
            width: 171px;
            height: 125px;
            display: flex;
            flex-direction: column;
            position: absolute;
            top: -30px;
            right: 120px;

            .text-default {
                &.subtitle {
                    font-size: 14px;
                    color: #414141;
                    text-align: end;
                }
            }

            .link {
                text-decoration: none;
                color: #000;
            }

            img {
                width: 30px;
                height: 30px;
                margin-left: auto;
                margin-bottom: 30px;
            }
        }
    }

    .footer-wrapper-bottom {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        gap: 30px;
        padding: 0 120px 0 140px;

        .text-default {
            font-size: 14px;
            cursor: pointer;

            &.inst {
                text-transform: uppercase;
            }
        }

        .footer-contacts {
            display: flex;
            flex-direction: row;
            margin-left: auto;

            img, i {
                margin-right: 10px;
            }

            .phone, .inst {
                margin-right: 30px;
            }
        }
    }
}
