$primary-text: #414141;
$title-text: #3C3C3C;
$subtitle-text: #343434;
$secondary-text:#686868;
$tertiary-text: #969696;



$main-bg:#245462;
$about-bg:#F4F4F4;
$contact-bg:#FCFCFC;



$about-accents:#D7E8ED;
